*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}
#banner{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
#vdo{
    width: 100%;
    height: 80%;
    overflow: hidden;
}


#phoneVDOdiv{
    width: 100vw;
    height: 120vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    overflow: hidden;
}
#Phvdo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#headText{
    text-align: center;
    font-family: Bebas Neue;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 85px;
}

#shirt
{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 50px;
}
#smartPhoneCard{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 50px;
    margin-bottom: 5rem;
    
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    background-color: white;
    /* border-radius: 20px 20px 20px 20px; */
}
#card:hover{
    transform: scale(1.05);
    transition: 0.8s ease ;
}

#card>#imgdiv>#imageEl{
    width: 100%;
    margin: auto;
}

#card>#compDiv>#namediv>#name{
    text-align: center;
    font-size: 22px;
    font-family: bebas neue;
}
#card>#compDiv>#div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#div1>#price{
    text-decoration: line-through;
    font-family: bebas neue;
}
#card>#compDiv>#div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#div2>#offerPrice{
    font-family: bebas neue;
}


/* Customer Reviews */

a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    margin-bottom: 5rem;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    height: 250px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}